@font-face {
  font-family: "basic-sans";
  src: url("https://use.typekit.net/af/5c6dd4/00000000000000003b9b043a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/5c6dd4/00000000000000003b9b043a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/5c6dd4/00000000000000003b9b043a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "basic-sans";
  src: url("https://use.typekit.net/af/fe293c/00000000000000003b9b043c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/fe293c/00000000000000003b9b043c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/fe293c/00000000000000003b9b043c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "basic-sans";
  src: url("https://use.typekit.net/af/cc97f2/00000000000000003b9b043e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/cc97f2/00000000000000003b9b043e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/cc97f2/00000000000000003b9b043e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "basic-sans";
  src: url("https://use.typekit.net/af/5f2d5f/00000000000000003b9b0440/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/5f2d5f/00000000000000003b9b0440/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/5f2d5f/00000000000000003b9b0440/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "basic-sans";
}

button {
  cursor: pointer;
}

.top_header {
  background-color: #00263e;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.top_header > img {
  height: 30px;
}

.mobile_banner {
  background-color: #fcfaf7;
  display: grid;
  grid-template: 2fr/1fr;
  justify-items: center;
}

.banner_text_content {
  width: 100%;
}

.banner_list_section {
  display: none;
}

.banner_image {
  display: none;
}

.banner_heading {
  color: #3d7cc9;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
  margin-top: 25px;
  padding: 0px 8px;
}

.pristyn_numbers {
  max-width: 576px;
  display: flex;
  flex-direction: row;
  color: #505257;
  font-size: 2.2rem;
  font-weight: bold;
  margin: 25px auto;
}

.number_data {
  text-align: center;
  padding: 5px 12px;
  border-right: solid 0.5px #7b7674;
}

.number_data:last-of-type {
  border-right: unset;
}

.pristyn_numbers span {
  flex-grow: 1;
}

.pristyn_numbers div {
  font: normal normal normal 1rem "basic-sans";
  color: #7b7674;
}

/* .banner_image_content{
  width: 100%;
  position: relative;
}

.banner_img_container{
  width: 100%;
  height: 100%;
  max-height: 35rem;
  max-width: 35rem;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.banner_img{
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
} */

.form_section {
  width: 100%;
  min-height: 40vh;
  position: relative;
  background: #ffffff;
  /* background: linear-gradient(180deg, rgba(252,250,247,1) 65%, rgba(255,255,255,1) 65%); */
}

/* .banner_form{
  position: relative;
} */

.mob_banner_section {
  position: relative;
  background-color: #fcfaf7;
  z-index: 8;
  width: 100%;
}

.bottom_circle_mob {
  border-radius: 100% 0 0 0;
  position: absolute;
  height: 70%;
  width: 20rem;
  bottom: 0;
  right: 0;
  background-color: #3d7cc9;
}

.mob_banner_img {
  position: relative;
  bottom: 0;
  width: 100%;
}

.mob_banner_img img {
  display: block;
  width: 100%;
  max-width: 425px;
  margin: 0 auto;
}

.appointment_form {
  width: 90%;
  max-width: 576px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  z-index: 10;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 3px 6px #00000014;
  border-radius: 10px;
}

.form_heading {
  color: #505257;
  text-align: center;
  background-color: #f5f7fa;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
}

.input_fields {
  padding: 25px 20px;
  display: grid;
  gap: 8px;
  grid-template: auto/1fr;
}

.input_fields label {
  font-size: 14px;
  color: #505257;
}

.input_fields input {
  outline: none;
  width: 100%;
  height: 2.5rem;
  border: 1px solid #e7e8e8;
  border-radius: 5px;
  height: 2.8rem;
  padding: 0px 10px;
  color: #797e86;
  font-size: 14px;
  margin-top: 5px;
}

.coupon_inp_container input {
  margin-top: 0px;
}

.coupon_inp_container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 5px;
}

#apply_couponBtn {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #3d7cc9;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
}

.submit_btn {
  outline: none;
  border: none;
  background-color: #ff8300;
  border-radius: 24px;
  color: #ffffff;
  padding: 15px;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 8px 0px;
  cursor: pointer;
}

.city_input {
  position: relative;
}

.disease_input {
  position: relative;
}

.city_crossBtnContainer {
  position: relative;
}

.disease_crossBtnContainer {
  position: relative;
}

.delCityBtn {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(-50%);
  cursor: pointer;
}

.delDiseaseBtn {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(-50%);
  cursor: pointer;
}

.citiesDropDown {
  display: none;
  background-color: #ffffff;
  border: 0.5px solid #aca6a6;
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  z-index: 5;
  max-height: 150px;
  overflow: auto;
}

.diseaseDropDown {
  display: none;
  background-color: #ffffff;
  border: 0.5px solid #aca6a6;
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  z-index: 5;
  max-height: 150px;
  overflow: auto;
}

.openCitiesDropDown {
  display: block;
}

.openDiseaseDropDown {
  display: block;
}

.diseaseDiv,
.cityDiv {
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

.cityDiv:hover,
.diseaseDiv:hover {
  background-color: #ff8300;
  color: white;
}

.banner_details_container {
  background-color: #00263e;
  width: 90%;
  max-width: 576px;
  border-radius: 10px;
  display: grid;
  grid-template: auto/55% auto;
  position: relative;
  margin: 30px auto;
  margin-bottom: 0;
}

.left_section {
  color: #ffffff;
  padding: 20px 0px 20px 20px;
  position: relative;
  z-index: 15;
}

.left_section h3 {
  font-size: 15px;
  font-weight: bold;
  min-width: 25ch;
}

.left_section ul {
  list-style-type: none;
  padding: 0;
}

.left_section li {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  gap: 10px;
  font-size: 12px;
  min-width: 24ch;
}

.left_section li:last-of-type {
  margin: 0px;
}

.left_section li img {
  width: 30px;
}

.right_section {
  position: relative;
}

.banner_img_container {
  position: absolute;
  z-index: 4;
  /* height: calc(30vw + 10vw); */
  height: 45vw;
  max-height: 210px;
  min-height: 160px;
  bottom: 0;
  right: 0;
}

.banner_img {
  display: block;
  object-position: center;
  object-fit: contain;
  height: 100%;
}

.banner_bottom_circle {
  position: absolute;
  border-radius: 100% 0 10px 0;
  width: 100%;
  height: 50vw;
  max-height: 80%;
  right: 0;
  bottom: 0;
  background-color: #3d7cc9;
}

.specialities_heading {
  color: #505257;
  text-align: center;
  margin: 20px 0px;
}

.specialities_container {
  padding: 20px;
  max-width: 576px;
  margin: 0 auto;
}

.few_initial_icons,
.more_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 20px;
  row-gap: 10px;
}

.more_icons {
  margin-top: 20px;
}

.surgery_icon {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.surgery_icon img {
  width: 100%;
}

.surgery_icon_caption {
  text-align: center;
  color: #505257;
  font-size: 14px;
}

.hide_icons {
  display: none;
}

.toggle_icons_btn {
  margin: 20px auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: #ff8300;
  background-color: #fff;
  outline: none;
  border: 1px solid #ff8300;
  border-radius: 21px;
  padding: 10px 25px;
}

.why_pristyn_heading {
  text-align: center;
  color: #505257;
  font-size: 24px;
  font-weight: bold;
}

.features_container {
  display: grid;
  grid-template: auto auto/50% 50%;
  place-content: center;
  padding: 20px;
  max-width: 576px;
  margin: 0 auto;
  gap: 15px 10px;
}

.feature {
  width: 100%;
  height: 78px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #00000014;
  padding: 15px;
}

.feature figcaption {
  font-size: 12px;
  font-weight: 600;
  color: #505257;
}

.pristyn_numbers_section {
  position: relative;
  background-color: #fcfaf7;
}

.numbers_container {
  display: grid;
  grid-template: repeat(3, auto) / repeat(2, 1fr);
  row-gap: 20px;
  padding: 60px 0px;
}

.pc_number {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pc_number .number {
  font-size: 35px;
  font-weight: bold;
}

.pc_number .caption {
  font-size: 18px;
  font-weight: bold;
}

.half_circle {
  position: absolute;
  width: 60px;
  height: 60px;
}

.circle_one {
  top: 0;
  right: 0;
  border-bottom-left-radius: 100%;
  background-color: #ffbe00;
}

.circle_two {
  bottom: 0;
  left: 0;
  border-top-right-radius: 100%;
  background-color: #965ec7;
}

.our_ads_section {
  padding: 30px 0px;
}

.video_container {
  overflow: hidden;
  position: relative;
  width: 90%;
  max-width: 620px;
  margin: 0 auto;
}

.video_container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video_container iframe {
  position: absolute;
  border-radius: 6px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* //error css  */
.errorMsgItem {
  font-size: 12px;
  color: #ff0000;
  height: 12px;
}

/* popups css -------------------------------- */

[data-popup-element] {
  position: fixed;
  inset: 0;
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  visibility: hidden;
}

[data-popup-element] .popup-bg {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  inset: 0;
}

[data-popup-element] .popup-body {
  z-index: 999999;
  max-width: 800px;
  border-radius: 10px;
  background: #fff;
  padding: 2rem;
  margin: 0 5%;
  position: relative;
}

[data-popup-element] .popup-body .close-btn {
  position: absolute;
  right: 0;
  transform: translate(-50%, 50%);
  cursor: pointer;
}

#appointment-succes-popup .popup-body {
  text-align: center;
  display: grid;
  gap: 1rem;
}

#appointment-succes-popup .popup-body .person-name {
  color: goldenrod;
}

#coupon-succes-popup .popup-body {
  text-align: center;
  display: grid;
  gap: 1rem;
}

#coupon-succes-popup .popup-body h2 {
  color: #ff8300;
  font-size: 26px;
}

#coupon-succes-popup .popup-body p {
  color: #00263e;
  font-size: 18px;
}

#coupon-succes-popup .popup-body p + div {
  color: #959595;
  font-size: 14px;
}

/* popups css -------------------------------- */

/* --------------------crousal CSS ------------------------- */

.carousel_main_container_desk {
  display: none;
}

.carousel_heading {
  font-size: 24px;
  color: #505257;
  text-align: center;
  padding: 15px 5px;
}

.carousel-container {
  background-color: #f5f7fa;
  position: relative;
  padding-top: 10px;
  padding-bottom: 50px;
}

.carousel {
  display: flex;
  gap: 2rem;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* // Hide scrollbar in IE. */
  -ms-overflow-style: none;
  max-width: 25rem;
  width: 85%;
  margin: 0 auto;
}

/* // Hide scrollbar in WebKit and Blink powered Browsers. */
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel__item {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  box-shadow: 0px 2px 12px #565d640a;
  border-radius: 4px;
}

.carousel__image {
  display: block;
}

.controls {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 5px;
  right: 0;
  bottom: 1em;
  left: 0;
  /* text-align: center; */
}

.controls__dot {
  display: flex;
  gap: 3px;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  outline: none;
  opacity: 0.8;
  border: 1px solid #868d98;
  cursor: pointer;
  transition: opacity 0.2s;
}

.controls__dot.active_dot {
  transform: scale(2);
  background-color: #f7be00;
  border: none;
}

/* // Other styles */
p {
  line-height: 1.5;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.intro {
  margin-top: 3.5em;
  max-width: 42em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* ------------------End Crousal CSS */
.review_rating {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #edf0f5;
  padding: 15px 0px;
}

.patient_initials_icon {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: tomato;
}

.patient_initials_icon img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.patient_details {
  display: flex;
  flex-direction: column;
}

.patient_details h3 {
  color: #3d7cc9;
  font-weight: 600;
  font-size: 18px;
}

.patient_details p {
  font-size: 14px;
  color: #868d98;
}

.quote_icon {
  position: absolute;
  top: 0;
  right: 0;
}

.review_text {
  padding: 20px 0px;
}
.review_text p {
  line-height: 28px;
  letter-spacing: 0.19px;
  color: #505257;
  font-size: 16px;
}
/*  */

.footer {
  background-color: #00263e;
  padding: 10px 15px;
  position: relative;
}

.footer img {
  height: 30px;
}

.footer p {
  position: absolute;
  bottom: 5px;
  right: 10px;
  text-align: right;
  color: white;
  text-shadow: 0px 3px 6px #00000029;
  font: normal normal 300 10px/12px "basic-sans";
}

.bottom_navbar {
  display: flex;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.quote {
  flex: 1;
  border-radius: 10px 10px 0px 0px;
  background-color: #3d7cc9;
}

.bottom_navbar a {
  text-decoration: none;
}

.fixed_btn {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font: normal normal bold 14px "basic-sans";
  color: white;
}

@media only screen and (min-width: 768px) {
  .top_header > img {
    height: 35px;
  }

  .form_section {
    min-height: unset;
  }

  .main_banner {
    width: 100%;
    position: relative;
  }

  .mob_banner_section {
    display: none;
  }

  .banner_section {
    width: 90%;
    max-width: 820px;
    margin: 0 auto;
    display: grid;
    grid-template: auto/1fr 1fr;
    position: relative;
  }

  .banner_heading {
    text-align: unset;
    font-size: 3rem;
    padding: 0;
  }

  .banner_list_section {
    display: unset;
  }

  .banner_image {
    display: unset;
  }

  .pristyn_numbers {
    width: 80%;
    min-width: 350px;
    margin: 2.5rem 0px;
  }

  .pristyn_numbers span {
    flex-grow: unset;
  }

  .number_data {
    padding: 8px 15px;
  }

  .number_data:first-of-type {
    padding-left: 0;
  }

  .banner_list {
    display: unset;
    list-style-type: none;
    padding: 0;
  }

  .banner_list_heading {
    font-size: 20px;
    font-weight: bold;
    color: #505257;
    padding: 5px 0px;
  }

  .banner_list li {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    gap: 10px;
    font-size: 16px;
    color: #727983;
  }

  .banner_list li img {
    width: 30px;
  }

  .left_content {
    padding: 0px 20px;
  }

  .top_circle {
    max-height: 12rem;
    max-width: 12rem;
    min-height: 12rem;
    min-width: 12rem;
    width: 20vw;
    height: 20vw;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    border-radius: 0 0 0 100%;
    background-color: rgb(255 131 0);
  }

  .bottom_circle {
    max-height: 35rem;
    max-width: 35rem;
    width: 42vw;
    height: 42vw;
    min-height: 23rem;
    min-width: 23rem;
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    border-radius: 100% 0 0 0;
    background-color: rgb(61, 124, 201);
  }

  .banner_image {
    position: absolute;
    z-index: 4;
    min-height: 425px;
    height: 50vw;
    bottom: 0;
    right: 0px;
  }

  .banner_image img {
    height: 100%;
  }

  .bottom_circle_mob {
    display: none;
  }

  .form_section {
    background: #ffffff;
  }

  .appointment_form {
    max-width: 820px;
  }

  .input_fields {
    grid-template: auto/1fr 1fr;
    gap: 20px 30px;
    padding: 30px 80px;
  }

  .coupon_input {
    grid-column: span 2;
    width: 65%;
    margin: 0 auto;
  }

  .submit_btn {
    grid-column: span 2;
    width: 40%;
    margin: 10px auto;
  }

  .form_heading {
    font-size: 28px;
  }

  .banner_details_container {
    display: none;
  }

  .specialities_container {
    max-width: 820px;
  }

  .why_pristyn_heading {
    font-size: 30px;
  }

  .features_container {
    grid-template: auto/repeat(4, 1fr);
    max-width: 95vw;
    gap: 10px;
  }

  .feature {
    height: 120px;
    gap: 10px;
  }

  .feature img {
    width: 40px;
  }

  .feature figcaption {
    font-size: 14px;
  }

  .numbers_container {
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    padding: 80px;
  }

  .pc_number .number {
    font-size: 52px;
    font-weight: bold;
  }

  .pc_number .caption {
    font-size: 20px;
    font-weight: bold;
  }

  /* --------------------crousal CSS ------------------------- */

  .carousel_main_container_mob {
    display: none;
  }

  .carousel_main_container_desk {
    display: unset;
  }

  .carousel_heading {
    font-size: 24px;
    color: #505257;
    text-align: center;
    padding: 15px 5px;
  }

  .carousel-container {
    background-color: #f5f7fa;
    position: relative;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .carousel {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
    /* // Hide scrollbar in IE. */
    -ms-overflow-style: none;
    width: 85%;
    max-width: unset;
    margin: 0 auto;
  }

  /* // Hide scrollbar in WebKit and Blink powered Browsers. */
  .carousel::-webkit-scrollbar {
    display: none;
  }

  .carousel__item {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    /* flex-shrink: 0; */
    width: 30%;
    scroll-snap-align: start;
    box-shadow: 0px 2px 12px #565d640a;
    border-radius: 4px;
  }

  .carousel__image {
    display: block;
  }

  .controls {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 5px;
    right: 0;
    bottom: 1em;
    left: 0;
    /* text-align: center; */
  }

  .controls__dot {
    display: flex;
    gap: 3px;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    outline: none;
    opacity: 0.8;
    border: 1px solid #868d98;
    cursor: pointer;
    transition: opacity 0.2s;
  }

  .controls__dot.active_dot {
    transform: scale(2);
    background-color: #f7be00;
    border: none;
  }

  /* // Other styles */
  p {
    line-height: 1.5;
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .intro {
    margin-top: 3.5em;
    max-width: 42em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .footer img {
    height: 45px;
  }

  .bottom_navbar {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .banner_section {
    width: 83%;
    max-width: 1120px;
  }

  .banner_image {
    /* height: 36.944vw; */
    height: 95%;
  }

  .appointment_form {
    max-width: 1120px;
  }

  .specialities_container {
    max-width: 1185px;
  }

  .features_container {
    grid-template: auto/repeat(4, 1fr);
    max-width: 1185px;
    gap: 15px;
  }

  .feature {
    height: 130px;
    gap: 15px;
    padding: 15px;
  }

  .feature img {
    width: 50px;
  }

  .feature figcaption {
    font-size: 18px;
  }
}

/* media queris max-width */
@media (max-width: 768px) {
  .appointment_form {
    margin-top: -10rem;
  }
}
